@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" enctype="multipart/form-data">
    <div>
        <div>
            <p>Form表單多個上傳檔案:</p>
            <input type="file" name="file" />
            <input type="submit" value="上傳" />
        </div>
    </div>
</form>